html, body, h1, h2, h3, h4, h5, h6, p, em, strong, abbr, acronym, blockquote, q, cite, ins, del, dfn, a, div, span, pre, address, br, b, i, sub, sup, big, small, tt, table, tr, caption, thead, tbody, tfoot, col, colgroup, form, input, label, textarea, button, fieldset, legend, select, option, dl, dt, dd, code, var, samp, img, object, param, map, area {
  padding: 0;
  margin: 0;
  border: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, header, footer, aside, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

button {
  border: 0; }

*:focus {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none; }

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* reset extra padding in Firefox */
::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0;
  display: none; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word; }

a img {
  border: none;
  vertical-align: middle; }

input, textarea {
  outline: none;
  resize: none; }

.clear {
  clear: both; }

.none {
  display: none !important; }

sup, sub {
  vertical-align: text-top;
  position: relative;
  font-size: .4em;
  line-height: 1;
  margin-left: 5px; }

sup {
  bottom: 1.4ex; }

sub {
  top: .5ex; }

.img-responsive {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

html,
body {
  font-family: "SFProDisplay-Regular";
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f0f2f5 50%);
  background: -webkit-linear-gradient(top, white 0%, #f0f2f5 50%);
  background: linear-gradient(to bottom, white 0%, #f0f2f5 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f2f5',GradientType=0 );
  background-attachment: fixed;
  height: 100%; }

.wrapper {
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto; }
  .wrapper input[type="radio"] {
    display: none; }
    .wrapper input[type="radio"] + span {
      width: 14px;
      min-width: 14px;
      height: 14px;
      min-height: 14px;
      border: 1px solid #8f96a1;
      border-radius: 50%;
      display: block;
      position: relative;
      margin-right: 10px; }
    .wrapper input[type="radio"]:checked + span:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #369e76; }
  .wrapper label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #27302d;
    font-family: "sf-pro-display-medium";
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 12px; }
  .wrapper_page .content_mob .aside_nav {
    display: none !important; }
  .wrapper_page aside .aside_nav {
    display: block; }

.block {
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(43, 59, 84, 0.1);
  margin-bottom: 16px;
  overflow: hidden;
  background: #fff; }
  .block.green {
    background: #369e76; }
  .block_head {
    padding: 15px;
    color: #27302d;
    font-size: 16px;
    line-height: 24px;
    font-family: "geometriabold";
    border-bottom: 1px solid #e6eaf0; }
    .block_head.green {
      background: #369e76;
      color: #fff;
      border-bottom-color: #369e76; }
  .block_content {
    padding: 20px 17px; }

.content {
  display: flex;
  padding-bottom: 40px; }
  @media (max-width: 700px) {
    .content {
      display: block; } }
  .content_block {
    width: 100%; }
  .content_mob {
    display: none; }
    @media (max-width: 700px) {
      .content_mob {
        display: block; }
        .content_mob .header_search {
          margin-bottom: 17px;
          display: flex; }
        .content_mob .aside_nav {
          display: block; } }

h1 {
  font-family: "geometriabold";
  color: #27302d;
  margin-bottom: 30px;
  font-size: 30px; }

.page {
  padding: 40px;
  margin-right: 15px; }
  .page ~ * {
    margin-right: 15px; }
    @media (max-width: 980px) {
      .page ~ * {
        margin-right: 10px; } }
  @media (max-width: 800px) {
    .page {
      padding: 25px; } }
  @media (max-width: 700px) {
    .page {
      margin-right: 0;
      padding: 15px; } }

aside {
  min-width: 275px; }
  @media (max-width: 850px) {
    aside {
      min-width: 235px; } }
  aside .header_search {
    display: none; }
    @media (max-width: 950px) and (min-width: 700px) {
      aside .header_search {
        display: flex;
        margin-bottom: 16px; } }

@media (max-width: 700px) {
  .aside_nav {
    display: none; } }

.btn {
  padding: 13px 23px;
  background: #369e76;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #369e76;
  color: #fff;
  font-family: "geometriabold";
  transition: all ease 0.4s;
  text-decoration: none; }
  .btn:hover {
    background: none;
    color: #369e76; }

form .btn {
  margin-top: 10px; }

.bread {
  color: #8f96a1;
  font-family: "geometriabold";
  margin-bottom: 17px; }
  .bread a {
    font-size: 16px;
    color: #369e76;
    text-decoration: none; }
    .bread a:hover {
      text-decoration: underline; }

.main {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .main_p {
    height: 100%; }

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: -15px; }
  .articles img {
    width: 100%;
    display: block; }
  .articles ~ * {
    margin-right: 15px; }
    @media (max-width: 980px) {
      .articles ~ * {
        margin-right: 10px; } }

.article_item {
  width: calc( 33% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 980px) {
    .article_item {
      width: calc( 50% - 20px);
      margin-left: 10px;
      margin-right: 10px; } }
  @media (max-width: 560px) {
    .article_item {
      width: 100%;
      margin-left: 15px;
      margin-right: 0px; } }
  @media (min-width: 750px) {
    .article_item_big {
      width: calc( 100% - 20px);
      display: block;
      margin-left: 15px;
      margin-right: 17px; } }
  @media (min-width: 750px) and (max-width: 980px) {
    .article_item_big {
      margin-left: 10px;
      margin-right: 10px; } }
  @media (min-width: 750px) {
      .article_item_big img {
        width: auto;
        display: block;
        height: 100%; }
      .article_item_big .article_img {
        overflow: hidden; }
      .article_item_big .article_item_block {
        display: flex;
        align-items: stretch; }
        .article_item_big .article_item_block > div {
          padding: 40px 30px; }
        .article_item_big .article_item_block p {
          margin-bottom: 16px;
          font-size: 16px; }
      .article_item_big .article_item_head {
        font-size: 30px; }
        .article_item_big .article_item_head:after {
          width: 40px;
          margin: 18px 0; }
      .article_item_big .article_item_more {
        padding-left: 0; } }
  @media (max-width: 750px) {
    .article_item_big .article_img {
      max-height: 158px;
      overflow: hidden;
      display: block; } }
  .article_item_head {
    font-family: "geometriabold";
    font-size: 20px;
    line-height: 24px;
    color: #27302d;
    text-decoration: none; }
    .article_item_head:after {
      content: '';
      display: block;
      width: 40px;
      background: #369e76;
      height: 4px;
      border-radius: 10px;
      margin: 12px 0; }
    .article_item_head:hover {
      color: #369e76; }
  .article_item_block > div {
    color: #8f96a1;
    font-family: "sf-pro-display-medium";
    font-size: 14px;
    padding: 15px 17px; }
  .article_item_block p {
    margin-bottom: 10px; }
  .article_item_more {
    text-transform: uppercase;
    color: #369e76;
    font-family: "geometriabold";
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 0 17px 15px; }
    .article_item_more i {
      margin-left: 13px; }

.aside_article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  .aside_article img {
    border-radius: 5px;
    margin-right: 17px; }
  .aside_article_name {
    font-size: 14px;
    line-height: 18px;
    color: #27302d;
    font-family: "geometriabold";
    text-decoration: none;
    display: block; }
    .aside_article_name:hover {
      color: #369e76; }
  .aside_article span {
    font-size: 12px;
    color: #8f96a1;
    font-family: "sf-pro-display-medium"; }
  .aside_article i {
    margin-right: 5px; }
  .aside_article + .aside_article {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #e6eaf0; }

.aside_nav {
  color: #fff;
  font-size: 16px;
  font-family: "geometriabold"; }
  .aside_nav_head {
    cursor: pointer; }
    .aside_nav_head span {
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 2px solid #fff;
      border-radius: 50%;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 15px;
      position: relative; }
      .aside_nav_head span:after, .aside_nav_head span:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background: #fff;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -5px;
        transition: all ease 0.4s; }
      .aside_nav_head span:after {
        transform: rotate(90deg); }
    .aside_nav_head.open span:after {
      transform: rotate(0deg); }
  .aside_nav_in {
    padding: 15px 0 0px 37px;
    display: none; }
    .aside_nav_in a {
      color: #fff;
      font-family: "geometriabold";
      font-size: 14px;
      text-decoration: none;
      display: block;
      margin-bottom: 7px; }
      .aside_nav_in a:hover {
        text-decoration: underline; }
  .aside_nav_item + .aside_nav_item {
    margin-top: 17px; }

.form_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e6eaf0; }
  @media (max-width: 550px) {
    .form_top {
      padding-bottom: 20px;
      margin-bottom: 20px; } }
  .form_top + .form_top {
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: none; }
  .form_top > * {
    width: 30%; }

.form_block {
  margin-bottom: 20px; }
  .form_block b {
    display: block;
    color: #979ea8;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "geometriabold";
    font-weight: normal; }
  .form_block label {
    display: block; }
    @media (max-width: 950px) and (min-width: 550px) {
      .form_block label:not(.label_name) {
        width: 48%; }
      .form_block label.label_name {
        width: 100%; }
        .form_block label.label_name input {
          width: 48%; } }
    @media (max-width: 550px) {
      .form_block label {
        width: 100%; } }
  .form_block textarea,
  .form_block input {
    padding: 12px 10px;
    border: 1px solid #e6eaf0;
    border-radius: 3px;
    width: 100%;
    font-size: 16px; }
  .form_block textarea {
    min-height: 80px; }

.map {
  margin: 0;
  padding: 0;
  list-style: none; }
  .map ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 20px;
    border-left: 2px solid #e6eaf0; }
    .map ul ul {
      display: none; }
      .map ul ul li:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        width: 8px;
        height: 8px;
        border: 2px solid #369e76;
        border-radius: 50%;
        margin-right: 8px; }
    .map ul li {
      padding-left: 20px;
      padding-bottom: 20px; }
      .map ul li:last-child {
        padding-bottom: 0; }
  .map a {
    font-size: 16px;
    font-family: "geometriabold";
    color: #27302d;
    text-decoration: none; }
    .map a:hover {
      text-decoration: underline; }
  .map span {
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid #369e76;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 7px;
    position: relative; }
    .map span:after, .map span:before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 2px;
      background: #369e76;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -5px;
      transition: all ease 0.4s; }
    .map span:after {
      transform: rotate(90deg); }
    .map span.open:after {
      transform: rotate(0deg); }

.ff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px; }
  .ff span {
    font-family: "geometriabold";
    font-size: 30px;
    color: #bec7d5;
    margin: 32px 0 30px 0; }
    @media (max-width: 600px) {
      .ff span {
        font-size: 16px; } }
  .ff img {
    max-width: 562px;
    width: 100%; }

header {
  padding-top: 28px;
  padding-bottom: 60px; }
  @media (max-width: 700px) {
    header {
      padding-bottom: 20px; } }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 356px; }
  nav a {
    white-space: nowrap;
    font-size: 16px;
    color: #27302d;
    font-family: "OpenSans-Bold";
    text-decoration: none; }
    nav a i {
      margin-left: 8px;
      color: #369e76; }
  @media (max-width: 680px) {
    nav {
      position: fixed;
      left: -320px;
      top: 0;
      bottom: 0;
      width: 270px;
      min-width: 270px;
      display: block;
      padding: 20px;
      border-right: 2px solid #369e76;
      background: #fff;
      box-sizing: border-box;
      transition: left 0.4s ease;
      z-index: 50; }
      nav .nav_dd_block {
        display: block;
        position: relative;
        box-shadow: none; }
        nav .nav_dd_block a {
          font-size: 14px;
          padding-left: 10px;
          margin-top: 7px; }
      nav i {
        display: none; } }

.nav_dd {
  position: relative; }
  .nav_dd_block {
    position: absolute;
    top: 99%;
    display: none; }
  .nav_dd > a {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .nav_dd a {
    display: block; }
    .nav_dd a:hover {
      color: #369e76; }
  .nav_dd:hover > a {
    color: #369e76; }
  .nav_dd:hover .nav_dd_block {
    display: block;
    padding: 15px;
    margin-left: -15px; }

.nav_mob {
  width: 22px;
  height: 17px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
  cursor: pointer; }
  @media (max-width: 680px) {
    .nav_mob {
      display: flex; } }
  .nav_mob span {
    display: block;
    width: 22px;
    height: 3px;
    background: #369e76;
    transition: transform ease 0.4s; }
  .nav_mob.open {
    justify-content: center; }
    .nav_mob.open span:first-child {
      transform: rotate(45deg);
      margin-bottom: -3px; }
      .nav_mob.open span:first-child + span {
        display: none; }
    .nav_mob.open span:last-child {
      transform: rotate(-45deg); }
    .nav_mob.open + nav {
      left: 0; }

.header_search {
  border-bottom: 2px solid #bec7d5;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 950px) {
    .header_search {
      display: none; } }
  .header_search input {
    font-size: 16px;
    font-family: "OpenSans-Bold";
    padding: 14px 0;
    width: 100%;
    background: none; }
    .header_search input::-webkit-input-placeholder {
      color: #8f96a1; }
    .header_search input:-moz-placeholder {
      color: #8f96a1; }
    .header_search input::-moz-placeholder {
      color: #8f96a1; }
    .header_search input:-ms-input-placeholder {
      color: #8f96a1; }
  .header_search button {
    font-size: 21px;
    color: #bec7d5;
    background: none; }

.footer_top {
  padding-bottom: 12px;
  border-bottom: 1px solid #8f96a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  @media (max-width: 860px) {
    .footer_top {
      border-bottom: none;
      flex-direction: column;
      text-align: center; } }
  @media (max-width: 650px) {
    .footer_top {
      border-bottom: 1px solid #8f96a1;
      border-top: 1px solid #8f96a1; } }

.footer_nav {
  font-size: 16px;
  font-family: "OpenSans-Bold"; }
  @media (max-width: 860px) and (min-width: 650px) {
    .footer_nav {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #8f96a1;
      width: 100%; } }
  @media (max-width: 650px) {
    .footer_nav {
      margin-bottom: 24px;
      padding-top: 20px; } }
  .footer_nav a {
    color: #27302d;
    text-decoration: none;
    margin-right: 30px; }
    @media (max-width: 860px) {
      .footer_nav a {
        margin-left: 30px; } }
    @media (max-width: 650px) {
      .footer_nav a {
        display: block;
        margin: 0 10px;
        text-align: center; } }
    .footer_nav a:hover {
      color: #369e76; }

.social a {
  color: #8f96a1;
  font-size: 40px;
  margin-left: 10px;
  text-decoration: none; }
  .social a:hover {
    color: #369e76; }
  @media (max-width: 650px) {
    .social a {
      margin: 0 5px; } }

.copy {
  color: #8f96a1;
  font-size: 16px;
  padding-bottom: 30px; }
  @media (max-width: 860px) {
    .copy {
      text-align: center; } }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?bk3h8b");
  src: url("../fonts/icomoon/icomoon.eot?bk3h8b#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?bk3h8b") format("truetype"), url("../fonts/icomoon/icomoon.woff?bk3h8b") format("woff"), url("../fonts/icomoon/icomoon.svg?bk3h8b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e908"; }

.icon-checked:before {
  content: "\e909"; }

.icon-clock:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-chevron-down:before {
  content: "\e902"; }

.icon-fb:before {
  content: "\e903"; }

.icon-insta:before {
  content: "\e904"; }

.icon-odnok:before {
  content: "\e905"; }

.icon-tw:before {
  content: "\e906"; }

.icon-vk:before {
  content: "\e907"; }

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg"), url("../fonts/openSansBold.eot"), url("../fonts/openSansBold.woff2") format("woff2"), url("../fonts/openSansBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geometriabold';
  src: url("../fonts/geometriabold.woff") format("woff"), url("../fonts/geometriabold.ttf") format("truetype"), url("../fonts/geometriabold.svg") format("svg"), url("../fonts/geometriabold.eot");
  src: url("../fonts/geometriabold.woff2") format("woff2"), url("../fonts/geometriabold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf-pro-display-medium';
  src: url("../fonts/sf-pro-display-medium.woff") format("woff"), url("../fonts/sf-pro-display-medium.ttf") format("truetype"), url("../fonts/sf-pro-display-medium.svg") format("svg");
  src: url("../fonts/sf-pro-display-medium.eot");
  src: url("../fonts/sf-pro-display-medium.woff2") format("woff2"), url("../fonts/sf-pro-display-medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=maps/style.css.map */
